main {
    margin-top: 50px;
    border: 1px solid black;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: salmon;
    display: flex;
}

#navbar ul, #navbar ol {
    margin: 0;
    padding: 0;
}

#navbar li {
    list-style: none;
    display: inline;
    padding: 2px;
}

section.section {
    padding: 5px;
    border-bottom: 1px solid black;
}

#jumbotron, #about {
    display: flex;
}